// Utils
@import './utils/normalize';

// App
@import './app/base';
@import './app/main';

// Components
@import './components/loading';

#UIContainer{
  position: absolute;
  right: 220px;
  top: 0%;
  column-count: 1;
}

#add-object-button{
  z-index: 1;
  position: relative;
  margin: 0;
  margin-top: -2px;
  float: left;
  color: white;
  border: 0px;
  display: inline-block;
  padding: 0px 10px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #0066ff;
  font-size: 30px;
}
#add-object-button.active {
  background-color: #f44b76
;
}

#guis{
  position:absolute;
  top:40px;
  width:220px;
  background-color:rgba(255,255,255,0.6);
  font-family:roboto,'helvetica neue', helvetica, arial, sans-serif;
  box-shadow: 0 0 10px #aaa;
  transition:background-color 200ms ease, color 200ms ease, opacity 200ms ease;
  -webkit-transition:background-color 200ms ease, color 200ms ease, opacity 200ms ease;
}
#guis > div {
  padding: 15px;
  position:relative;
}
#guis > div+div {
  border-top:0.5px solid #aaa;
}
#guis h4 {
  position:relative;
  margin: 0;
  font-weight:400;
}
#guis h4+* {
  margin-top:1em;
}
#guis div>span {
  font-size: 0.8em;
  vertical-align: top;
}

#guis .property {
  font-weight: bold;
  display: inline-block;
  width: 70px;
  position:absolute;
}
#guis .valueSpan {
  cursor:pointer;
  border-bottom: 1px dotted #555;
  display:inline-block;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.property + .valueSpan { margin-left:80px; }

#guis.editor {
  background-color: #555;
  color:white;
}
#guis.editor .valueSpan {
  border-bottom-color:white;
}
#guis.editor .edit-toggle {
  background:#333;
  font-weight:bold;
}

#guis .cone, #guis.editor .cone {
  color: black;
}
#guis .cone .valueSpan, #guis.editor .cone .valueSpan {
  border-bottom-color: #555;
}

#guis .nav {
  color:rgba(85,85,85,0.5);
  transition: color 100ms ease;

  top:50%;
  cursor:pointer;
  padding:12px;
  font-size:40px;
  position:absolute;
}
#guis .nav:hover {
  color:#333;
  text-shadow:0 0 5px #aaa;
}
#guis .nav-left {
  transform:translate(-100%,-50%);
  margin-left:-15px;
}
#guis .nav-right {
  right:0;
  transform:translate(100%,-50%);
}

input[type="file"] {
  display: none;
}

#cam-control {
  position:absolute;
  right:0;
  bottom:0;
  margin:20px;
  width:100px;
  height:100px;
  border:1px solid #666;
  cursor:grab;
  cursor:-webkit-grab;
  opacity:0.66;
}
#cam-control:active {
  cursor:grabbing;
  cursor:-webkit-grabbing;
}
